.gradient-custom {
    /* fallback for old browsers */
    background: #151414;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(236, 34, 34), rgb(168, 2, 2));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(227, 21, 21), rgb(161, 3, 3))
    }

